<div id="OrgHeaderLogin" class="ion-nav-bar mainHeader" style="background-color: #151515">
    <p class="headerText">Smart</p>

    <h1 class="headerH1">WORKPLACE</h1>
    <img ng-src="img/image.jpg" class="headerMainImage"/>
    <!--<img id="orgLogoImage" src="" class="headerLogo"/> &lt;!&ndash;style="float: right; margin:16px; max-width: 135px; max-height: 80px;" alt=""&ndash;&gt;-->
</div>

<div>
    <md-button class="md-raised md-primary" ng-click="vm.login()">Log in</md-button>

    <md-button class="md-fab md-primary">
        <md-icon class="mdi mdi-calendar" style="font-size: 140%"></md-icon>
    </md-button>



</div>
