
<md-button class="md-raised md-primary" ng-click="vm.getLuces()">Get lights</md-button>
<md-button class="md-raised md-primary" ng-click="vm.setLight()">Set Lights</md-button>
<md-button class="md-raised md-primary" ng-click="vm.createUser()">Create user</md-button>
<md-button class="md-raised md-primary" ng-click="vm.getConfig()">Get config</md-button>
<md-button class="md-raised md-primary" ng-click="vm.toggleLight()">Toggle light</md-button>
<md-button class="md-raised md-primary" ng-click="vm.switchColor()">Switch Color</md-button>

<input type="text" ng-model="vm.cityname"/>
<h2>{{vm.cityname}}</h2>
<md-button class="md-raised md-primary" ng-click="vm.checkWeather(vm.cityname)">Set weather city</md-button>