.mainHeader {
    height: 200px;
    position: relative;
    z-index: 1000;
    /*background: rgba(0, 172, 182, 100) url("../images/worker_guy.png");*/
}

img.headerLogo {
    color: rgba(0, 0, 0, 20);
    position: absolute;
    top: 36px;
    right: 16px;
    max-width: 135px;
    min-height: 20px;
    max-height: 80px;
}

img.headerMainImage {
    color: rgba(0, 0, 0, 20);
    position: absolute;
    bottom: 0px;
    left: 13px;
    height: inherit;
    width: 50%;

}

p.headerText {
    color: rgba(255, 255, 255, 20);
    position: absolute;
    top: 60px;
    right: 16px;
    font-size: 20px;
    left: 250px;
}

h1.headerH1 {
    color: rgba(255, 255, 255, 20);
    position: absolute;
    bottom: 47px;
    right: 16px;
    font-size: 24px;
}

.mainButton {
    width: 91px;
    height: 36px;
    color: #ffffff;
    margin: 12px 0px;
}

